@model List<AjaxMongoDBProject.DAL.Entities.Category>
@{
    Layout = "~/Views/Shared/_MongoLayout.cshtml";
    int count = 0;
}

<br />
<br />
<div class="container">
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Kategorı ID</th>
            <th>Kategori Adı</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach(var item in Model)
        {
            count++;
            <tr>
                <th>@count</th>
                <th>@item.CategoryID</th>
                <th>@item.CategoryName</th>
                <th><a href="/Category/DeleteCategory/@item.CategoryID" class="btn btn-outline-danger">Sil</a></th>
                <th><a href="/Category/UpdateCategory/@item.CategoryID" class="btn btn-outline-success">Güncelle</a></th>
            </tr>
        }
    </table>
    <a href="/Category/AddCategory/" class="btn btn-outline-primary">Yeni Kategori Ekle</a>
</div>